body {
  margin-top: 80px;
  font-family: 'Montserrat', sans-serif !important;
}

.push-ul {
  list-style: none;
}

.header {
  background-color: white;
  border-bottom: 3px solid #2196f3;
}

.scrolling {
  background-color: #2196f3;
}

#nav-content > ul > li > a {
  color: #2288cc;
}

.btn-animate {
  background-color: transparent;
  border: 2px solid #4d4d4d;
}

body > div:nth-child(3) > div > div > a {
  color: white;
}

body > div:nth-child(3) > div > div > a:hover {
  color: #4d4d4d;
}

.btn-animate:hover {
  background-color: white;
}

.paralax {
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image {
  background-image: url("/images/bg-2.png");
}

.hero-about {
  background-image: url("/images/br-background.png");
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.section-why {
  background-color: white;

}

.section-quote {
    background-image: url("/images/bg-tile.png");
  color: white;
}

.span-brand-1 {
  padding: 3px;
  color: white;
  border-top: 2px solid white;
}

.span-brand-2 {
  padding: 3px;
  color: white;
  border-bottom: 2px solid white;
}

@media screen and (max-width: 768px) {
    .span-brand-1 {
        border-top: none;
    }

    .span-brand-2 {
        border-bottom: none;
    }
}

.fa-why {
  font-size: 350%;
  transition: 0.2s ease-out;
}

.fa-why:hover {
  color: #2288cc;
}

.section-product {
  padding-top: 5em;
  background-color: #3da6bb;
  color: white;
}

@media screen and (max-width: 768px) {
  .computer-bg {
    display: none;
  }
}

.fade {
  opacity:0.5;
}
.fade:hover {
  opacity:1;
}

.section-howto {
  background-color: #37474f;
  color: white;
  background-image: url("/images/bg-tile.png");

}

.grow {
  transition: 0.2s ease;
}

.grow:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.slidedown {
  transition: 0.2s ease;
  opacity: 0;
}

.grow:hover ~ .slidedown {
  opacity: 1;
}

.section-stat {
  background-color: #22313f;
  color: white;
}

.section-recommend {
  background-color: white;
}

.section-footer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #333;
  color: white;
  border-top: 4px solid #2196f3;
}

.customer-img {
	max-width: 80%;
	filter: grayscale(100%);
	transition: 0.2s ease;
  border-radius: 10%;
  text-align: center;
  margin: 0 auto;
}

.customer-img:hover {
	filter: grayscale(0);
}

.fa-contact {
  color: white;
  font-size: 36px;
  padding-left: 5px;
  /*padding-right: 5px;*/
  transition: 0.2s ease;
}

.p-address {
  color: #afafaf !important;
}

.p-link {
  color: white;
}

.p-link:hover {
    color: #afafaf;
}

.p-link:hover {
  text-decoration: none;
}

.section-faq {
  background-image: url('/images/faq.png');
  color: white;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.grid-product {
    margin-bottom: 1em;
}

.price-topleft-blue {
    position: absolute;
    top: 0;
	width: 0;
	height: 0;
	border-top: 5.5em solid #2196f3;
	border-right: 5.5em solid transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: white;
}

.price-topleft-blue p {
    position: absolute;
    top: -4.5em;
}

.price-topleft-green {
    position: absolute;
    top: 0;
	width: 0;
	height: 0;
	border-top: 5.5em solid #689F38;
	border-right: 5.5em solid transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: white;
}

.price-topleft-green p {
    position: absolute;
    top: -4.5em;
}

.price-topleft-red {
    position: absolute;
    top: 0;
	width: 0;
	height: 0;
	border-top: 5.5em solid #EF5350;
	border-right: 5.5em solid transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    color: white;
}

.price-topleft-red p {
    position: absolute;
    top: -4.5em;
}

.product-link {
    color: #4d4d4d;
}

.product-link:hover {
    color: grey;
    text-decoration: none;
}

.section-productPage {
    background-image: url('/images/product.png');
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.section-product-page {
    background-image: url('/images/product-cv.png')
}

.section-product-blog {
    background-image: url('/images/product-blog.png')
}

.section-product-business {
    background-image: url('/images/product-business.png')
}

.card-order {
  margin: 30px 0;
}